* {
    font-family: sans-serif;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

a {
    text-decoration: none;
}

html {
    height: 100%;
}

body {
    height: 100%;
    min-height: 565px;
    /*max-height: 1080px;*/
    background-image: url(../img/background.jpeg);
    background-position: center 35px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

header {
    width: 100%;
    line-height: 35px;
    background-color: #005390;
    list-style: none;
    text-decoration: none;
    color: #00AFE2;
}

header li {
    display: inline;
}

header a {
    color: #00AFE2;
}

.main-content {
    width: 100%;
    height: 95%;
}

.form-block-wrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-block {
    width: 380px;
    height: 400px;
    background: rgba(0, 0, 0, 0.6);
}
