* {
    font-family: sans-serif;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

a {
    text-decoration: none;
}

html {
    height: 100%;
    font-family: sans-serif;
}

body {
    height: 100%;
    min-height: 565px;
    /*max-height: 1080px;*/
    background-image: url(../img/background.jpeg);
    background-position: center 35px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

header {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    background-image: url(../img/background-menu.png);
    padding: 0 20px;
}

.top-menu {
    display: flex;
    justify-content: flex-end;
}

.top-menu li {
    display: inline-block;
    list-style: none;
    text-decoration: none;
    line-height: 36px;
    font-size: 12px;
}

.top-menu li:hover a {
    background-color: #00AED8;
}

.top-menu a {
    padding: 0 10px;
    display: block;
    color: #00AFE2;
}

.top-menu li span {
    display: block;
}

.top-menu a:hover {
    color: #FFF;
}

.right-menu, .right-menu li {
    display: inline-block;
    line-height: 36px;
    font-size: 12px;
}

.right-menu {
    border-left: 1px solid #00A0D5;
}

.right-menu li {
    padding: 0 10px;
}

.right-menu li a {
    color: #FFF;
}

.right-menu li:first-child:hover {
    background-color: #00AED8;
}

.right-menu li:last-child {
    background: linear-gradient(#00B6D9, #007DC2);
    color: #FFF;
}

.right-menu li:first-child a {
    display: block;
    padding-left: 40px;
}

.right-menu li:last-child a {
    text-decoration: underline;
}

.right-menu-flag {
    background: url(../img/flag.png) no-repeat 14px 7px;;
}

.main-content {
    width: 100%;
    height: 95%;
}

.form-block-wrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-block {
    width: 380px;
    height: 400px;
    background: rgba(0, 0, 0, 0.6);
}
