@font-face {
    font-family: 'Lucida Sans Unicode Regular';
    src: url('../fonts/lsansuni-webfont.woff2') format('woff2'),
         url('../fonts/lsansuni-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    font-family: Arial, sans-serif;
}

.wrapper {
    width: 909px;
    margin: 0 auto;
}

header {
    display: flex;
    align-items: center;
    margin: 22px 7px 8px;
}

.phone-number {
    height: 21px;
    display: flex;
    align-items: flex-end;
    font-size: 18px;
    color: #5D696C;
    padding-left: 27px;
    background: url(../img/1header/phone-number/icon-phone.png) no-repeat 1px 0px;
}

.login-form {
    height: 25px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    background: linear-gradient(#156884, #083454);
    padding-left: 10px;
}

.login-form img {
    margin-right: 5px;
}

.login-form span {
    color: #FFF;
}

.login-form span a{
    font-size: 12px;
    text-decoration: underline;
    color: #BFBFBF;
}

.top-corner-nav {
    width: 70px;
    height: 20px;
    display: flex;
    justify-content: space-around;
    list-style: none;
    border: 1px solid grey;
    border-radius: 10px;
}

.banner {
    width: 100%;
}

.main-menu {
    width: 100%;
    height: 34px;
    margin: 3px 0 12px;
    list-style: none;
    background: linear-gradient(#4C5662, #010101);
    border-radius: 5px;
}

.main-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
}

.main-menu li {
    height: 25px;
    display: inline-block;
    text-transform: uppercase;
    font-family: "Lucida Sans Unicode Regular", sans-serif;
}

.main-menu li a {
    display: block;
    line-height: 25px;
    padding: 0 10px;
    color: #B0BCBF;
}

.main-menu li:hover a{
    background: linear-gradient(#156884, #083454);
    border-radius: 10px;
    color: #FFF;
}

.main-menu p {
    line-height: 34px;
    color: #FFF;
}

.main-menu-order {
    display: flex;
    align-items: center;
    font-family: Arial;
}

.main-menu-goods {
    padding-left: 26px;
    background: url(../img/1header/main-menu/cart.png) no-repeat 2px 0px;
}

.main-menu-goods,
.main-menu-total {
    color: #868E91;
}

.main-menu-num-of-goods,
.main-menu-total-price {
    color: #005B8B;
}

.search-forms {
    display: flex;
    justify-content: space-between;
}

.search-form {
    height: 134px;
    border: 1px solid #B8B8B9;
    border-radius: 15px;
    font-size: 8px;
    margin-bottom: 15px;
}

.search-by-car {
    width: 410px;
    padding: 0 17px;
}

.search-by-car-title {
    display: flex;
    justify-content: space-between;
}

.search-by-car-parameters {
    display: flex;
    justify-content: space-between;
}

.tires {
    display: flex;
    flex-direction: column;
}

.rims {
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
}

.side-menu {
    width: 180px;
    margin-top: 3px;
    margin-right: 11px;
}

.side-menu h3, .side-menu h4 {
    border: 1px solid #8A979B;
    padding-left: 25px;
    font-family: "Lucida Sans Unicode Regular", sans-serif;
    text-transform: uppercase;
    line-height: 25px;
    font-size: 13px;
    color: #0B4262;
}

.side-menu h3 {
    border-radius: 13px;
    background: url(../img/3main/side-menu/icon-catalog.png) no-repeat 1px 2px;
    margin-bottom: 13px;
}

.side-menu h4 {
    width: 150px;
    margin-left: 1px;
    border-radius: 12px;
    line-height: 26px;
    padding-left: 29px;
    background: url(../img/3main/side-menu/icon-category.png) no-repeat 4px 1px;
}

.side-menu li a {
    display: block;
    padding-left: 47px;
    text-decoration: none;
    font-family: "Lucida Sans Unicode Regular", sans-serif;
    line-height: 25px;
    font-size: 13px;
    color: #455960;
    background: url(../img/3main/side-menu/icon-sub-category.png) no-repeat 34px 7px;
}

.side-menu li:hover {
    font-weight: 900;
    font-style: italic;
    text-decoration: underline;
    background: url(../img/3main/side-menu/icon-sub-category-hover.png) no-repeat 34px 7px;
}

article {
    width: 526px;
    height: 627px;
    margin-right: 9px;
    display: flex;
    border-radius: 2px;
    background: linear-gradient(#E5E7E8, #92A7AF);
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
}

.item-block {
    width: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item-block h4 {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #206988;
}

.item-block .item-block-model {
    font-family: "Lucida Sans Unicode Regular", sans-serif;
    font-size: 13px;
}

.item-block-image {
    width: 140px;
    height: 130px;
    border: 1px solid #A6B1B3;
    border-radius: 8px;
    display: flex;
    align-items: center;
    background: #FFF;
}

.item-block-image img {
    display: block;
    margin: 0 auto;
}

.item-block .item-block-price {
    font-family: Arial, sans-serif;
    font-size: 15px;
    color: #114165;
    font-weight: 900;
    font-style: italic;
}

aside {
    width: 180px;
    margin-top: 3px;
    display: flex;
    flex-direction: column;
}

aside h3, aside h4 {
    border: 1px solid #8A979B;
    padding-left: 30px;
    font-family: "Lucida Sans Unicode Regular", sans-serif;
    text-transform: uppercase;
    line-height: 25px;
    font-size: 13px;
    color: #0B4262;
    margin: 0 auto;
}

aside h3 {
    width: 183px;
    border-radius: 13px;
    background: url(../img/3main/side-menu/icon-catalog.png) no-repeat 1px 2px;
    margin-bottom: 13px;
}

aside form {
    display: flex;
    flex-direction: column;
}

aside h4 {
    width: 136px;
    margin-left: 15px;
    border-radius: 12px;
    line-height: 26px;
    padding-left: 30px;
    background: url(../img/3main/side-menu/icon-category.png) no-repeat 3px 1px;
}

aside form label {
    margin: 6px 0 5px 21px;
    font-size: 12px;
}

aside form input[type=checkbox] {
    margin-right: 13px;
}

aside form button {
    margin-left: 25px;
    width: 80px;
    border: none;
    border-radius: 15px;
    background: linear-gradient(#156884, #083454);
    line-height: 24px;
    color: white;
}

aside input[type=submit] value {
    color: white;
}
