@font-face {
    font-family: 'Lucida Sans Unicode Regular';
    src: url('../fonts/lsansuni-webfont.woff2') format('woff2'),
         url('../fonts/lsansuni-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    font-family: Arial, sans-serif;
}

.wrapper {
    width: 909px;
    margin: 0 auto;
}

header {
    display: flex;
    align-items: center;
    margin: 22px 7px 8px;
}

.phone-number {
    height: 21px;
    font-size: 18px;
    color: #5D696C;
    padding-left: 27px;
    background: url(../img/1header/phone-number/icon-phone.png) no-repeat 0px 0px;
    margin-right: 26px;
}

.login-form {
    width: 495px;
    height: 25px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    font-family: "Lucida Sans Unicode Regular";
    background: linear-gradient(#156884, #083454);
    padding-left: 7px;
    margin: -3px 17px 3px 0;
}

.login-form img {
    margin-right: 4px;
}

.login-form input[type=text] {
    width: 113px;
    height: 15px;
    margin-right: 3px;
}

.login-form input[type=password] {
    width: 113px;
    height: 15px;
}

.login-form input[type=submit] {
    border: none;
    font-size: 11px;
    color: #fff;
    background: none;
    margin-left: -3px;
    margin-right: -7px;
}

.login-form span {
    color: #FFF;
    font-size: 10px;
    margin-right: -7px;
}

.login-form input[type=button] {
    border: none;
    font-size: 11px;
    color: #fff;
    background: none;
    margin-right: 12px;
}

.login-form span a{
    font-size: 12px;
    text-decoration: underline;
    color: #BFBFBF;
}

.top-corner-nav {
    width: 76px;
    height: 20px;
    display: flex;
    justify-content: space-around;
    list-style: none;
    border: 1px solid grey;
    border-radius: 10px;
    margin-top: -8px;
}

.banner {
    width: 100%;
}

.main-menu {
    width: 100%;
    height: 34px;
    margin: 3px 0 12px;
    list-style: none;
    background: linear-gradient(#4C5662, #010101);
    border-radius: 5px;
}

.main-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
}

.main-menu ul {
    padding-left: 118px;
}

.main-menu li {
    height: 25px;
    display: inline-block;
    text-transform: uppercase;
    font-family: "Lucida Sans Unicode Regular", sans-serif;
}

.main-menu li a {
    display: block;
    line-height: 25px;
    padding: 0 10px;
    font-size: 14px;
    color: #B0BCBF;
}

.main-menu li:hover a{
    background: linear-gradient(#156884, #083454);
    border-radius: 10px;
    color: #FFF;
}

.main-menu p {
    line-height: 34px;
    color: #FFF;
}

.main-menu-order {
    margin-right: 11px;
    display: flex;
    align-items: center;
    font-family: Arial;
}

.main-menu-goods {
    padding-left: 28px;
    background: url(../img/1header/main-menu/cart.png) no-repeat 1px 4px;
}

.main-menu-goods,
.main-menu-total {
    line-height: 26px;
    font-size: 12px;
    color: #868E91;
}

.main-menu-total {
    margin-left: 14px;
}

.main-menu-num-of-goods,
.main-menu-total-price {
    font-size: 14px;
    letter-spacing: -0.3px;
    color: #005B8B;
}

.main-menu-num-of-goods {
    margin-left: 1px;
}

.main-menu-total-price {
    margin-left: 10px;
}

.search-forms {
    width: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.search-form {
    height: 134px;
    border: 1px solid #B8B8B9;
    border-radius: 15px;
    font-size: 10px;
    margin-bottom: 15px;
    position: relative;
}

.search-form-title {
    margin-left: 10px;
    font-family: "Arial Black", sans-serif;
    font-size: 12px;
    font-weight: 900;
    color: #114165;
}

.search-form td {
    vertical-align: middle;
}

.search-form td span {
    color: #76858A;
}

.search-form select {
    margin-bottom: 6px;
    border-radius: 0px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(../img/2search-forms/select.png) no-repeat right;
}

.search-form .search {
    position: absolute;
    bottom: 10px;
    right: 20px;
    font-size: 14px;
    font-style: italic;
    color: #154467;
    text-decoration: underline;
}

.search-form .search:visited {
    color: #154467;
}

.search-by-car {
    width: 413px;
    padding: 0 13px 0 17px;
    margin-right: 7px;
}

.search-by-car-title {
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
    letter-spacing: 0.3px;
    font-family: "Arial Black", sans-serif;
    font-size: 12px;
    font-weight: 900;
    color: #114165;
}

.search-by-car-title :first-child,
.search-by-car-title :last-child {
    font-size: 10px;
}

.search-by-car-title :nth-child(1) {
    margin-left: 2px;
    margin-top: 4px;
    margin: 4px 0 0 2px;
}

.search-by-car-title :nth-child(2) {
    margin: 1px 0 0 -6px;
}

.search-by-car-title :nth-child(3) {
    margin: 2px 1px 0 1px;
}

.search-by-car-parameters {
    display: flex;
    justify-content: space-between;
}

.search-by-car-table-1 {
    margin-right: 25px;
    display: flex;
    flex-direction: column;
}

.search-by-car-table-2 {
    display: flex;
    flex-direction: column;
}

.search-form .select-long {
    width: 100px;
}

.search-form .select-year {
    width: 55px;
}

.search-by-tire {
    width: 193px;
    padding: 0 10px 0 12px;
}

.search-by-tire-title {
    margin: 1px 0 11px -4px;
}

.search-by-rim-parameters {
    display: flex;
}

.search-by-rim-table-1 {
    width: 40px;
}

.search-by-rim-table-2 {
    width: 40px;
    border-left: 1px solid grey;
}

main {
    display: flex;
}

.search-by-tire {
    width: 190px;
}

.search-by-rim {
    width: 270px;
}

.side-menu {
    width: 180px;
    margin-top: 3px;
    margin-right: 11px;
}

.side-menu h3, .side-menu h4 {
    border: 1px solid #8A979B;
    padding-left: 25px;
    font-family: "Lucida Sans Unicode Regular", sans-serif;
    text-transform: uppercase;
    line-height: 25px;
    font-size: 13px;
    color: #0B4262;
}

.side-menu h3 {
    border-radius: 13px;
    background: url(../img/3main/side-menu/icon-catalog.png) no-repeat 1px 2px;
    margin-bottom: 13px;
}

.side-menu h4 {
    width: 150px;
    margin-left: 1px;
    border-radius: 12px;
    line-height: 26px;
    padding-left: 29px;
    background: url(../img/3main/side-menu/icon-category.png) no-repeat 4px 1px;
}

.side-menu li a {
    display: block;
    padding-left: 47px;
    text-decoration: none;
    font-family: "Lucida Sans Unicode Regular", sans-serif;
    line-height: 25px;
    font-size: 13px;
    color: #455960;
    background: url(../img/3main/side-menu/icon-sub-category.png) no-repeat 34px 7px;
}

.side-menu li:hover {
    font-weight: 900;
    font-style: italic;
    text-decoration: underline;
    background: url(../img/3main/side-menu/icon-sub-category-hover.png) no-repeat 34px 7px;
}

article {
    width: 526px;
    height: 627px;
    margin-right: 9px;
    display: flex;
    border-radius: 2px;
    background: linear-gradient(#E5E7E8, #92A7AF);
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
    margin-bottom: 40px;
}

.item-block {
    width: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item-block h4 {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #206988;
}

.item-block .item-block-model {
    font-family: "Lucida Sans Unicode Regular", sans-serif;
    font-size: 13px;
}

.item-block-image {
    width: 140px;
    height: 130px;
    border: 1px solid #A6B1B3;
    border-radius: 8px;
    display: flex;
    align-items: center;
    background: #FFF;
}

.item-block-image img {
    display: block;
    margin: 0 auto;
}

.item-block .item-block-price {
    font-family: Arial, sans-serif;
    font-size: 15px;
    color: #114165;
    font-weight: 900;
    font-style: italic;
}

aside {
    width: 180px;
    margin-top: 3px;
    display: flex;
    flex-direction: column;
}

aside h3, aside h4 {
    border: 1px solid #8A979B;
    padding-left: 30px;
    font-family: "Lucida Sans Unicode Regular", sans-serif;
    text-transform: uppercase;
    line-height: 25px;
    font-size: 13px;
    color: #0B4262;
    margin: 0 auto;
}

aside h3 {
    width: 183px;
    border-radius: 13px;
    background: url(../img/3main/side-menu/icon-catalog.png) no-repeat 1px 2px;
    margin-bottom: 13px;
}

aside form {
    display: flex;
    flex-direction: column;
}

aside h4 {
    width: 136px;
    margin-left: 15px;
    border-radius: 12px;
    line-height: 26px;
    padding-left: 30px;
    background: url(../img/3main/side-menu/icon-category.png) no-repeat 3px 1px;
}

aside form label {
    margin: 6px 0 5px 21px;
    font-size: 12px;
}

aside form input[type=checkbox] {
    margin-right: 13px;
}

aside form button {
    margin-left: 25px;
    width: 80px;
    border: none;
    border-radius: 15px;
    background: linear-gradient(#156884, #083454);
    line-height: 24px;
    color: white;
}

aside form button:hover {
    cursor: pointer;
}

.brands {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 21px;
}

.brands li {
    margin: 0 7px;
}

.footer-block {
    width: 910px;
    height: 100px;
    background: #1F3A4B;
}

.footer-nav {
    display: flex;
    justify-content: center;
}

.footer-nav li {
    padding: 12px 5px 15px;
    color: #BDC6C8;
    font-size: 13px;
}

.footer-nav li a {
    text-decoration: none;
    color: #BDC6C8;
}

.footer-nav li a:hover {
    color: #4AACC8;
}

footer p {
    font-family: Arial, sans-serif;
    font-size: 11px;
    color: #7f4740;
    display: flex;
    justify-content: center;
}
