.header {
    height: 549px;
    display: flex;
    justify-content: center;
}

.header__wrapper {
    width: 472px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__logo {
    margin: 70px 0 20px;
}

.header__menu {
    width: 246px;
    height: 250px;
    visibility: hidden;
    border: 1px solid #000;
    border-radius: 10px;
    background: rgba(10, 10, 10, 0.7);
    overflow: hidden;
    box-sizing: border-box;
}

.header__home-item {
    visibility: visible;
}

.header__menu:hover {
    visibility: visible;
}

.header__menu li {
    width: 245px;
    height: 41px;
    border-top: 1px solid #533E58;
    border-bottom: 1px solid #37283C;
}

.header__menu li:first-child {
    height: 42px;
}

.header__menu li:last-child {
    border: none;
}

.header__menu li a {
    display: block;
    text-align: center;
    padding: 10px 0;
}

.header__menu li:first-child a {
    width: 47px;
    margin: 0 auto;
    padding-top: 10px;
    line-height: 26px;
    border-bottom: 2px solid #EFC0FA;
    padding-bottom: 0;
}

.header__menu li:first-child:hover {
    box-shadow: none;
}

.header__menu li:hover {
    background: rgba(20, 20, 20, 0.5);
    box-shadow: inset 0 -2px 0 0 #EFC0FA;
}

.about {
    height: 599px;
    border-top: 1px solid #36273A;
    border-bottom: 1px solid #36273A;
    background: linear-gradient(#75527F, #37293B);
}


/*---------------- updates ----------------*/

.updates {
    height: 785px;
    background: #F9F9F9;
}


/*---------------- sponsors ----------------*/

.sponsors {
    height: 230px;
    background: #F9F9F9;
    border-top: 2px solid #EDEDED;
    border-bottom: 2px solid #DEDEDE;
}


/*---------------- news-comments ----------------*/

.news-comments {
    height: 670px;
    background: #ECECEC;
}

.news-comments__wrapper {
    width: 480px;
    padding: 80px 20px 0 20px;
    margin: 0 auto;
}

.news-comments__news {
    margin-bottom: 60px;
}

.news-comments__news h3 {
    color: #454545;
    font: 24px/24px "League Gothic", sans-serif;
}

.news-comments__news p {
    color: #787878;
    font: 16px "Open Sans", sans-serif;
}


/*---------------- footer ----------------*/

.footer {
    height: 200px;
    box-shadow: inset 0 2px 3px #000;
}

.footer__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 46px;
}

.footer__menu {
    display: flex;
    font: 20px "League Gothic", sans-serif;
    margin-bottom: 38px;
}

.footer__menu a {
    margin: 0 12px 0;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
}

.footer p {
    font: 12px "Open Sans", sans-serif;
    color: #fff;
    text-shadow: 2px 2px 0 #000;
}

.footer span {
    font-weight: 900;
}
