* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'League Gothic Regular';
    src: url('../fonts/leaguegothic-regular-webfont.woff2') format('woff2'),
         url('../fonts/leaguegothic-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

a {
    text-decoration: none;
}

body {
    font-family: Arial, sans-serif;
}

@media screen and (min-width:960px) {
    body {
        background: url(../img/bg.jpg) no-repeat fixed;
        background-size: 100%;
        background-position: top;
    }

    .wrapper {
         display: block;
        width: 960px;
        margin: 70px auto 0;
    }

    header {
        height: 280px;
          border: 1px dashed red;
    }

    .main-menu li {
        display: inline-block;
        font-family: "League Gothic Regular";
        font-size: 24px;
        color: #FFF;
    }

}
