.header {
    height: 798px;
}

.header__wrapper {
    width: 768px;
    margin: 0 auto;
}

.header__logo {
    display: block;
    padding: 70px 0 29px;
}

.header__menu {
    display: flex;
}

.header__menu li {
    margin-right: 47px;
}

.header__menu li a {
    padding: 0 5px 2px 0;
    text-shadow: 1px 1px 1px #666;
}

.header__menu li:first-child a {
    border-bottom: 2px solid #EFC0FA;
}


/*---------------- about ----------------*/

.about {
    height: 342px;
    border-top: 1px solid #36273A;
    border-bottom: 1px solid #36273A;
    background: linear-gradient(#75527F, #37293B);
    border-bottom: 1px solid #36273A;
    padding: 75px 46px 0px 14px;
    display: flex;
    justify-content: space-between;
}

.about__block {
    width: 195px;
    height: 133px;
    display: flex;
    flex-direction: column;
    padding-left: 49px;
    background: url(../img/3about/wrench.png) no-repeat -3px 3px;
}

.about__block > h3 {
    font: 22px "League Gothic", sans-serif;
    color: #FFF;
    margin-bottom: 2px;
    text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);
    letter-spacing: 0.7px;
}

.about__block > p {
    font: 300 16px/24px 'Open Sans', sans-serif;
    color: #E0E0E1;
    margin-bottom: 8px;
    text-shadow: 2px 2px 0 #0f1518;
}

.about__block span {
    align-self: flex-end;
    letter-spacing: 0.2px;
}

.about__block a {
    font-family: "League Gothic", sans-serif;
    font-size: 17px;
    color: #fff;
}

.about__block a:hover {
    text-shadow: 0 0 8px #fff;
}


/*---------------- updates ----------------*/

.updates {
    height: 485px;
    background: #F9F9F9;
    display: flex;
    justify-content: space-between;
    padding: 100px 10px 0 10px;
}

.updates__slider-container {
    width: 312px;
}

.updates__slider {
    height: 270px;
    margin-left: 45px;
    background: #FFF;
    box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.1);
}

.updates__slide {
    padding: 25px 35px 30px 35px;
    position: relative;
    display: none;
}

.updates__slide img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 0.1px solid gray;
    position: absolute;
    left: -20px;
    top: 20px;
}

.updates__slide :nth-child(2) {
    font: 24px/100% "League Gothic", sans-serif;
    color: #454545;
}

.updates__slide :nth-child(3) {
    font: 24px/100% "League Gothic", sans-serif;
    color: #EFC0FA;
}

.updates__slide p {
    font: 16px/150% 'Open Sans', sans-serif;
    color: #454545;
}


/*.w3-center {text-align:center!important}
.w3-section{margin-top:16px!important;margin-bottom:16px!important}
.w3-large{font-size:18px!important}
.w3-text-white{color:#fff!important}*/

/*.w3-display-bottommiddle{position:absolute;left:50%;bottom:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}*/

.updates__slider-buttons {
    display: flex;
    justify-content: center;
    margin: 24px 0 48px 12px;
}

.updates__sircle {
    height: 18px;
    width: 18px;
    background-color: #000;
    border: 1px solid #E8E8E8;
    border-radius: 50%;
    background-color: transparent;
    margin: 2px 2px;
}

.updates__sircle:hover {
    background-color: #454545;
}




.updates__resent-updates h2 {
    margin-left: 82px;
    font: 30px/24px "League Gothic", sans-serif;
}

.updates__update {
    height: 48px;
    margin-top: 19px;
    padding-left: 149px;
    background: url(../img/4updates/update-image.png) no-repeat 83px 0px;
}

.updates__update h3 {
    font: bold 17px/24px "Open Sans", sans-serif;
}

.updates__update p {
    font: 16px/24px "Open Sans", sans-serif;
    letter-spacing: -0.4px;
}

.updates__more-updates a {
    color: #454545;
    font: 18px/24px "League Gothic", sans-serif;
    float: right;
    margin: 16px 60px 0 0;
}


/*---------------- sponsors ----------------*/

.sponsors {
    height: 120px;
    background: #F9F9F9;
    border-top: 2px solid #F1F1F1;
    padding: 25px 40px 48px;
}

.sponsors__list {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-around;
    justify-content: center;
}

.sponsors__list li {
    margin: 19px 20px 5px;
}

.sponsors__sponsor1 {
    width: 69px;
    height: 65px;
    background: url(../img/5sponsors/sponsors.png) 0 0;
}

.sponsors__sponsor1:hover {
    background: url(../img/5sponsors/sponsors.png) 0 -77px;
}

.sponsors__sponsor2 {
    width: 72px;
    height: 64px;
    background: url(../img/5sponsors/sponsors.png) -77px -1px;
}

.sponsors__sponsor2:hover {
    background: url(../img/5sponsors/sponsors.png) -77px -77px;
}

.sponsors__sponsor3 {
    width: 65px;
    height: 64px;
    background: url(../img/5sponsors/sponsors.png) -158px 0;
}

.sponsors__sponsor3:hover {
    background: url(../img/5sponsors/sponsors.png) -158px -77px;
}

.sponsors__sponsor4 {
    width: 50px;
    height: 63px;
    background: url(../img/5sponsors/sponsors.png) -235px 0;
}

.sponsors__sponsor4:hover {
    background: url(../img/5sponsors/sponsors.png) -235px -77px;
}

.sponsors__sponsor5 {
    width: 103px;
    height: 21px;
    background: url(../img/5sponsors/sponsors.png) -299px -22px;
}

.sponsors__sponsor5:hover {
    background: url(../img/5sponsors/sponsors.png) -299px -98px;
}

.sponsors__sponsor6 {
    width: 78px;
    height: 61px;
    background: url(../img/5sponsors/sponsors.png) -410px -2px;
}

.sponsors__sponsor6:hover {
    background: url(../img/5sponsors/sponsors.png) -410px -78px;
}



/*---------------- news-comments ----------------*/

.news-comments {
    height: 397px;
    background: #ECECEC;
}

.news-comments__wrapper {
    width: 728px;
    padding: 100px 20px 0 18px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.news-comments__news {
    height: 182px;
    margin-bottom: 61px;
    overflow: hidden;
}

.news-comments__news h3 {
    color: #454545;
    font: 24px/24px "League Gothic", sans-serif;
}

.news-comments__news p {
    color: #787878;
    font: 300 16px "Open Sans", sans-serif;
}


/*---------------- footer ----------------*/

.footer {
    height: 200px;
    box-shadow: inset 0 2px 3px #000;
}

.footer__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 46px;
}

.footer__menu {
    display: flex;
    font-family: "League Gothic", sans-serif;
    font-size: 20px;
    margin-bottom: 38px;
}

.footer__menu a {
    margin: 0 12px 0;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
}

.footer p {
    /*font-family: 'Open Sans', sans-serif;
    font-size: 12px;*/
    font: 300 12px 'Open Sans', sans-serif;
    color: #fff;
    text-shadow: 2px 2px 0 #000;
    align-self: flex-end;
    margin-right: 27px;
}

.footer span {
    font-weight: 900;
}
