.header {
    height: 845px;
}

.header__wrapper {
    width: 960px;
    margin: 0 auto;
}

.header__logo {
    display: block;
    margin: 70px 70px 170px 0;
    float: left;


    padding-top: 0;
}

.header__menu {
    float: right;
    margin-top: 71px;
    margin-right: -5px;
}

.header__menu li {
    margin: 5px 0 0 42px;
}

.header__menu li a {
    padding: 0 5px 2px 5px;
    text-shadow: 1px 1px 1px #444;
}

.header__menu li:first-child a {
    border-bottom: 2px solid #EFC0FA;
}

article {
    height: 342px;
    border-top: 1px solid #36273A;
    border-bottom: 1px solid #36273A;
    background: linear-gradient(#75527F, #37293B);
}
