.header {
    height: 846px;
}

.header__wrapper {
    width: 960px;
    margin: 0 auto;
}

.header__logo {
    display: block;
    margin: 70px 70px 170px 0;
    float: left;


    padding-top: 0;
}

.header__menu {
    float: right;
    margin-top: 71px;
    margin-right: -5px;
}

.header__menu li {
    margin: 5px 0 0 42px;
}

.header__menu li a {
    padding: 0 5px 2px 5px;
    text-shadow: 1px 1px 1px #444;
}

.header__menu li:first-child a {
    border-bottom: 2px solid #EFC0FA;
}

article {
    height: 343px;
    border-top: 1px solid #36273A;
    border-bottom: 1px solid #36273A;
    background: linear-gradient(#75527F, #37293B);
}





/*----------------footer----------------*/

.footer {
    height: 112px;
    box-shadow: inset 0 2px 3px #000;
}

.footer__wrapper {
    display: flex;
    justify-content: space-between;;
    padding-top: 45px;
}

.footer__menu {
    display: flex;
    font-family: "League Gothic", sans-serif;
    font-size: 20px;
    margin-bottom: 38px;
}

.footer__menu a {
    margin: 0 12px 0;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
}

.footer p {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    color: #fff;
    text-shadow: 2px 2px 0 #000;
    margin-right: 27px;
}

.footer span {
    font-weight: 900;
}
