@font-face {
    font-family: 'League Gothic';
    src: url('fonts/leaguegothic-regular-webfont.woff2') format('woff2'),
         url('fonts/leaguegothic-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {box-sizing: border-box;}
a {text-decoration: none;}
ol, ul {list-style: none;}

body {
    font-family: Arial, sans-serif;
    background: #75527F;
}

.header {
    background: url(../img/1header/background.jpg) no-repeat;
    background-size: 2400px 845px;
    background-position: center top;
}

.header__menu li a {
    display: block;
    font-family: "League Gothic", sans-serif;
    font-size: 24px;
    color: #FFF;
}

.header__slider {
    font-family: "League Gothic", sans-serif;
}

.footer {
    background: url(../img/7footer/bg-footer.jpg) no-repeat;
    background-size: 2400px 200px;
    background-position: center;
}

.footer__wrapper {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2);
}
