.header {
    height: 515px;
    display: flex;
    justify-content: center;
}

.header__wrapper {
    width: 310px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__logo {
    margin: 70px 0 40px;
}


/*            top-menu            */

.header__main-menu {
    width: 246px;
    height: 250px;
    visibility: hidden;
    border: 1px solid #000;
    border-radius: 10px;
    background: rgba(10, 10, 10, 0.7);
    overflow: hidden;
    box-sizing: border-box;
}

.header__home-item {
    visibility: visible;
}

.header__main-menu:hover {
    visibility: visible;
}

.header__main-menu li {
    width: 245px;
    height: 41px;
    border-top: 1px solid #533E58;
    border-bottom: 1px solid #37283C;
}

.header__main-menu li:first-child {
    height: 42px;
}

.header__main-menu li:last-child {
    border: none;
}

.header__main-menu li a {
    display: block;
    text-align: center;
    padding: 10px 0;
}

.header__main-menu li:first-child a {
    width: 47px;
    margin: 0 auto;
    padding-top: 10px;
    line-height: 26px;
    border-bottom: 2px solid #EFC0FA;
    padding-bottom: 0;
}

.header__main-menu li:first-child:hover {
    box-shadow: none;
}

.header__main-menu li:hover {
    background: rgba(20, 20, 20, 0.5);
    box-shadow: inset 0 -2px 0 0 #EFC0FA;
}


/*            slider            */

article {
    height: 598px;
    border-top: 1px solid #36273A;
    border-bottom: 1px solid #36273A;
    background: linear-gradient(#75527F, #37293B);
}
