body {
  max-width: 380;
  margin: 20 auto 40;

  background-color: #F6F4F3;
  font-family: Arial, sans-serif;
  text-align: left;
}

.page {
  width: 500;
}

header {
  border-bottom: 1px solid #C6C7C8;
}

header img {
  display: block;
  margin: auto;
  border: 2px solid grey;
}

footer {
  border-top: 1px solid #C6C7C8;
}

.page {
  margin: 0 auto;
}

.section {
  margin-bottom: 10px;
}

.indented {
    margin: auto auto auto 40px;
}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
